[submodule "admin-role-management"]
	path = admin-role-management
	url = https://github.com/risa-labs-inc/boss-plugin-admin-role-management.git
[submodule "ai-gateway"]
	path = ai-gateway
	url = https://github.com/risa-labs-inc/boss-plugin-ai-gateway.git
[submodule "bookmarks"]
	path = bookmarks
	url = https://github.com/risa-labs-inc/boss-plugin-bookmarks.git
[submodule "boss-plugin-api"]
	path = boss-plugin-api
	url = https://github.com/risa-labs-inc/boss-plugin-api.git
[submodule "codebase"]
	path = codebase
	url = https://github.com/risa-labs-inc/boss-plugin-codebase.git
[submodule "console"]
	path = console
	url = https://github.com/risa-labs-inc/boss-plugin-console.git
[submodule "downloads"]
	path = downloads
	url = https://github.com/risa-labs-inc/boss-plugin-downloads.git
[submodule "editor-tab"]
	path = editor-tab
	url = https://github.com/risa-labs-inc/boss-plugin-editor-tab.git
[submodule "fluck-browser"]
	path = fluck-browser
	url = https://github.com/risa-labs-inc/boss-plugin-fluck-browser.git
[submodule "fluck-chatgpt"]
	path = fluck-chatgpt
	url = https://github.com/risa-labs-inc/boss-plugin-fluck-chatgpt.git
[submodule "git-log"]
	path = git-log
	url = https://github.com/risa-labs-inc/boss-plugin-git-log.git
[submodule "git-status"]
	path = git-status
	url = https://github.com/risa-labs-inc/boss-plugin-git-status.git
[submodule "llmrpa"]
	path = llmrpa
	url = https://github.com/risa-labs-inc/boss-plugin-llmrpa.git
[submodule "performance"]
	path = performance
	url = https://github.com/risa-labs-inc/boss-plugin-performance.git
[submodule "plugin-manager"]
	path = plugin-manager
	url = https://github.com/risa-labs-inc/boss-plugin-plugin-manager.git
[submodule "role-creation"]
	path = role-creation
	url = https://github.com/risa-labs-inc/boss-plugin-role-creation.git
[submodule "rpaengine"]
	path = rpaengine
	url = https://github.com/risa-labs-inc/boss-plugin-rpaengine.git
[submodule "rparecorder"]
	path = rparecorder
	url = https://github.com/risa-labs-inc/boss-plugin-rparecorder.git
[submodule "run-configurations"]
	path = run-configurations
	url = https://github.com/risa-labs-inc/boss-plugin-run-configurations.git
[submodule "secret-manager"]
	path = secret-manager
	url = https://github.com/risa-labs-inc/boss-plugin-secret-manager.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/risa-labs-inc/boss-plugin-terminal.git
[submodule "terminal-tab"]
	path = terminal-tab
	url = https://github.com/risa-labs-inc/boss-plugin-terminal-tab.git
[submodule "topofmind"]
	path = topofmind
	url = https://github.com/risa-labs-inc/boss-plugin-topofmind.git
[submodule "user-secret-list"]
	path = user-secret-list
	url = https://github.com/risa-labs-inc/boss-plugin-user-secret-list.git
[submodule "risa-pam-button"]
	path = risa-pam-button
	url = https://github.com/risa-labs-inc/boss-plugin-risa-pam-button.git
[submodule "dna-origami"]
	path = dna-origami
	url = https://github.com/risa-labs-inc/boss-plugin-dna-origami.git
[submodule "boss-microkernel-runtime"]
	path = boss-microkernel-runtime
	url = https://github.com/risa-labs-inc/boss-microkernel-runtime.git
[submodule "analytics"]
	path = analytics
	url = https://github.com/risa-labs-inc/boss-plugin-analytics.git
[submodule "flow-tab"]
	path = flow-tab
	url = https://github.com/risa-labs-inc/boss-plugin-flow-tab.git
[submodule "nanorx"]
	path = nanorx
	url = https://github.com/risa-labs-inc/boss-plugin-nanorx.git
[submodule "boss-atlas"]
	path = boss-atlas
	url = https://github.com/risa-labs-inc/boss-plugin-atlas.git
[submodule "tool-creator"]
	path = tool-creator
	url = https://github.com/risa-labs-inc/boss-plugin-tool-creator.git
[submodule "tool-evolver"]
	path = tool-evolver
	url = https://github.com/risa-labs-inc/boss-plugin-tool-evolver.git
[submodule "jupyter-notebook"]
	path = jupyter-notebook
	url = https://github.com/risa-labs-inc/boss-plugin-jupyter-notebook.git
[submodule "docker"]
	path = docker
	url = https://github.com/risa-labs-inc/boss-plugin-docker.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/risa-labs-inc/boss-plugin-kubernetes.git
[submodule "organisation"]
	path = organisation
	url = https://github.com/risa-labs-inc/boss-plugin-organisation.git
[submodule "boss-arcade"]
	path = boss-arcade
	url = https://github.com/risa-labs-inc/boss-plugin-arcade.git
